table{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
   
    width: 80%;
}

h1{
    padding-top: 30px;
   margin-bottom: 50px;
}


 td{
    text-align: center;
}

table{
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

tr:hover {
    background: linear-gradient(to right, #fb5283, #ff3527 );
}
tr{
    height: 40px;
    background-color: rgb(222, 221, 219);
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}


th{
    border: solid 3px;
}

.table-body{
    padding-top: 30px;
    padding-bottom: 30px;
}

table .bekijkVlucht{
 
    width: 80px;
    border: 0;
    padding: 10px 1px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527 );
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}


  @media only screen and (max-width:1050px){
    .vluchtpagina{
        /* remove padding when burger menu is fixed*/
        padding-top: 100px;
        display: inline-block;
    }
  }
  
